In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
import sqlite3

%matplotlib inline

In [5]:
db = sqlite3.connect("../data/HMDA.db")
for chunk in pd.read_csv("../data/hmda_2014_nationwide_all-records_labels.csv", 
                         chunksize = 10000, 
                         low_memory = False):
    chunk.to_sql("hmda_2014", db, if_exists="append")

In [6]:
db.close()

In [28]:
def sample(table, n = 20000): 
    """
    Randomly samples a particular table in the sqlite3 database for 
    n observations for various purposes. Runtime is not the best, so only 
    useful for calls for EDA purposes. Using apache spark is best if model 
    building is needed. 
    
    Keyword Arguments: 
    table - the table to pull from typically 'hmda_201X' 
    n - the the number of observations to pull from the dataset 
    """
    con = sqlite3.connect("../data/HMDA.db")
    query = f"""SELECT * FROM {table} ORDER BY RANDOM() LIMIT {n}"""
    df = pd.read_sql(sql = query, con = con)
    con.close()
    
    return df

In [30]:
data_2014 = sample("hmda_2014")

In [43]:
print(data_2014.isna().sum())

index                               0
as_of_year                          0
respondent_id                       0
agency_name                         0
agency_abbr                         0
                                 ...
hud_median_family_income          588
tract_to_msamd_income             590
number_of_owner_occupied_units    590
number_of_1_to_4_family_units     590
application_date_indicator          0
Length: 79, dtype: int64